{% extends 'base.html' %}
{% load static %}

{% block title %}    
Home
{% endblock %}

{% block content %}


<div class="container-fluid" style="background-color: #a2e0d2;">
    <div class="container">
        <div class="row" style="padding: 50px;">
          <div class="col">
              <br>
              <br>
              <br>
              <br>
              <br>
            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;">Pydeas: The only local python competitor of stack overflow</p> 
          </div>
          <div class="col">
            <img src="{% static 'secnd.png' %}">
          </div>
          <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>          
            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;">A community to help newbies,
            intermediates and experts suffering in their python jobs</p>
          </div>
        </div>
      </div>
</div>
<div class="row">
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img src="{% static 'k.jpg' %}" class="card-img-top" alt="..." width="50px">
      <div class="card-body">
        <h5 class="card-title">A community...</h5>
        <p class="card-text">Get help here from different people in the python community.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img src="{% static 'k2.png' %}" class="card-img-top" alt="..." width="50px">
      <div class="card-body">
        <h5 class="card-title">Free to use</h5>
        <p class="card-text">Joining the community is priceless as this is a non-profit community!.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <img src="{% static 'k3.png' %}" class="card-img-top" alt="..." width="50px">
      <div class="card-body">
        <h5 class="card-title">Easy</h5>
        <p class="card-text">Let's not forget the fact that this site is easy to use.</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}